.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    z-index: 9;
    min-height: 100vh;
    background: #fff;
    box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(103, 128, 241, 0.19);
    color: #fff;
    transition: all 0.3s;
}
.components-lists{
    padding-top: 100px;
}
.components-lists li{
    padding-left: 20px;
    margin-top: 20px;
}
.components-lists a{
    text-decoration: none;
    font-size: 16px;
    color: #1D1929;
    font-weight: bold;

}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #6d7fcc;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.toggle-btn{
    position: fixed;
    top: 20px;
    left: 20px;
    /*width: 100%;*/
    z-index: 111;
    background-color: #fff;
    border: none;
    display: flex;
    border-radius: 6px;
    justify-content: end;

    padding-top: 5px;
    padding-bottom: 5px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
